<div *ngIf="courses.length > 0; then course else noCourse"></div>
<template #course>
	<h1> Courses as Follow </h1>
</template>
<template #noCourse>
<h1> No course try later </h1>
</template>
<ul>
	<li *ngFor="let course of courses">{{ course }}</li>
</ul>
<!-- <div>
	<input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
</div> -->
<!-- <div>
	<hm-button [isClicked]="isClicked" (update)="onUpdate()"></hm-button>
</div> -->
<div>
	<template-form></template-form>
</div>
<div>
	<reactive-form></reactive-form>
</div>