<form #form="ngForm" novalidate>
	{{ detail | json }}
	<div>
		Passenger name:
		<input 
			type="text"
			name="fullname"
			#fullname="ngModel"
			required
			[ngModel]="detail?.fullname">
		<div *ngIf="fullname.errors?.required && fullname.dirty" class="error">
			Passenger Name is required
		</div>
	</div>
	<div>
	Passenger ID:
	<input 
		type="number"
		name="id"
		#id="ngModel"
		required
		[ngModel]="detail?.id">
	<div *ngIf="id.errors?.required && id.dirty" class="error">
		ID is required
	</div>
	</div>
	<div>
		<label>
			<input 
				type="checkbox"
				name="checkedIn"
				(ngModelChange)="toggleCheckIn($event)"
				[ngModel]="detail?.checkedIn">
		</label>
	</div>
	<div *ngIf="form.value.checkedIn">
		Check in date:
		<input
			type="number"
			name="checkInDate"
			[ngModel]="detail?.checkedInDate">
	</div>
	<div>
		Luggage:
		<select
			name="baggage"
			[ngModel]="detail?.baggage">
			<option 
				*ngFor="let item of baggage"
				[selected]="item.key === detail?.baggage"
				[value]="item.key">
				{{ item.value }}
			</option>
		</select>
	</div>
	<div>
		Luggage:
		<select
			name="baggage"
			[ngModel]="detail?.baggage">
			<option
				*ngFor="let item of baggage"
				[ngValue]="item.key">
				{{ item.value }}
			</option>
		</select>
	</div>
	<button type="submit" [disabled]="form.invalid">
		Update Passenger
	</button>
</form>