<form #form="ngForm" novalidate>
	{{ detail | json }}
	<div>
		Passenger name:
		<input 
			type="text"
			name="fullname"
			[ngModel]="detail?.fullname">
	</div>
	<div>
	Passenger ID:
	<input 
		type="number"
		name="id"
		[ngModel]="detail?.id">
	</div>
	<div>
		<label>
			<input 
				type="checkbox"
				name="checkedIn"
				(ngModelChange)="toggleCheckIn($event)"
				[ngModel]="detail?.checkedIn">
		</label>
	</div>
	<div *ngIf="form.value.checkedIn">
		Check in date:
		<input
			type="number"
			name="checkInDate"
			[ngModel]="detail?.checkedInDate">
	</div>
	<div>
		Luggage:
		<select
			name="baggage"
			[ngModel]="detail?.baggage">
			<option 
				*ngFor="let item of baggage"
				[selected]="item.key === detail?.baggage"
				[value]="item.key">
				{{ item.value }}
			</option>
		</select>
	</div>
	<div>
		Luggage:
		<select
			name="baggage"
			[ngModel]="detail?.baggage">
			<option
				*ngFor="let item of baggage"
				[ngValue]="item.key">
				{{ item.value }}
			</option>
		</select>
	</div>
	{{ form.value | json }}
</form>